* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  outline: 0;
}

body {
  font-family: inherit;
}
img {
  max-width: 100%;
  height: auto;
}
.head-of-offer,
.para-of-offer {
  color: black;
  text-align: center;
}
.index-main-img {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.index-main-img img {
  width: 1100px;
}

@media only screen and (max-width: 748px) {
  .index-main-img {
    padding-top: 116px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 300px) {
  .index-main-img {
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 200px) {
  .index-main-img {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
  }
}
.index-offers-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 20px;
}
.novidades-carousel{
  position:relative;
  max-width:1200px;
  margin:0 auto 20px;
  padding:0 50px;
}
.index-grid-img-1{
  display:flex;
  gap:20px;
  overflow:hidden;
  scroll-behavior:smooth;
  width:100%;
}
.carousel-item{
  flex:0 0 260px;
  display:flex;
  flex-direction:column;
  align-items:center;
}
.carousel-item img{
  width:100%;
  height:auto;
  object-fit:cover;
  border-radius:4px;
}
.carousel-btn{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  background:#ffffff;
  border:1px solid #ddd;
  width:38px;
  height:38px;
  cursor:pointer;
  font-size:22px;
  line-height:36px;
  text-align:center;
  color:#151515;
  transition:background .2s,color .2s;
  padding:0;
}
.carousel-btn:hover{background:#151515;color:#fff;}
.carousel-btn.prev{left:5px;}
.carousel-btn.next{right:5px;}
@media screen and (max-width:600px){
  .novidades-carousel{padding:0 35px;}
  .carousel-item{flex:0 0 200px;}
  .carousel-btn{width:34px;height:34px;font-size:18px;line-height:32px;}
}

.info-of-img-below {
  text-align: center;
  color: black;
  background-color: #f5f5f5;
  height: 30px;
  padding-top: 5px;
}
@media screen and (max-width: 891px) {
  .info-of-img-below {
    font-size: 12px;
  }
}
@media screen and (max-width: 712px) {
  .info-of-img-below {
    font-size: 9px;
  }
}
.index-grid-img-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.index-grid-img-2 img:nth-child(3) {
  width: 372px;
  object-fit: cover;
}
.index-grid-img-2 img:nth-child(1) {
  width: 253px;
  object-fit: cover;
}
.index-grid-img-2 img:nth-child(4) {
  width: 372px;
  object-fit: cover;
}
.index-grid-img-2 img:nth-child(2) {
  width: 273px;
  object-fit: cover;
}
.index-grid-img-2 img:nth-child(5) {
  width: 275px;
  object-fit: cover;
}
.index-grid-img-2 img:nth-child(6) {
  width: 275px;
  object-fit: cover;
}
.head-of-offer {
  padding-left: 50px;
}
.para-of-offer {
  padding-left: 50px;
}
@media screen and (max-width: 400px) {
  .head-of-offer {
    font-size: 16px;
  }
  .para-of-offer {
    font-size: 11px;
  }
}
.index-grid-img-3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-start: 1;
  grid-row-end: 3;
  grid-gap: 20px;
  margin-left: 20px;
}
@media screen and (max-width: 1130px) {
  .index-grid-img-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.footer-container {
  align-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  background-color: black;
  object-fit: cover;
  padding-bottom: 30px;
}
.footer-container .footer-1,
.footer-2,
.footer-3,
h5,
h4,
h2,
h3,
h6,
p {
  color: white;
}

.footer-container .footer-1 h2,
p,
h5,
h6 {
  padding-left: 50px;
  padding-top: 20px;
}

.footer-container .footer-2,
.footer-3 {
  padding-top: 70px;
}
.copy-right {
  font-family: inherit;
  text-align: center;
  color: black;
  font-size: 27px;
}
.copy-right a {
  color: black;
}
/* Attribution / agency credit */
.site-credit {
  text-align:center;
  font-size:14px;
  color:#555;
  margin-top:4px;
  letter-spacing:0.05em;
  font-family: inherit;
}
.site-credit a { color:inherit; text-decoration:none; }
@media screen and (max-width:593px){
  .site-credit { font-size:12px; letter-spacing:0.04em; }
}
@media screen and (max-width: 593px) {
  .footer-container .footer-1 h2,
  p,
  h5,
  h6 {
    padding-left: 10px;
  }

  .copy-right {
    font-size: 19px;
  }
}
